<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <% if (user) { %>
        <a href="/auth/logout"><i class="material-icons left">trending_flat</i>Logout</a>
        <p>Hello, <%= user.displayName %>!</p> 
    <% } else { %>
        <a href="/auth/google"><i class="material-icons left">vpn_key</i> Login With Google</a>
        <p>You are not logged in.</p>
    <% } %>
    <p>Welcome to our application</p>
</body>
</html>
